.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  color: white;
  border-right: 2px dashed #ccc; /* bordure pointillée */

}
.icon-right {
  margin-right: 10px;
}

.sidebar-brand, .sidebar-nav, .sidebar-actions {
  padding: 10px;
}

.sidebar-brand img {
  max-width: 100px;
  margin-right: 10px;
}

.sidebar-nav li {
  list-style: none;
  
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  /*color: #333;*/
  color:rgb(99, 115, 129);
  
  text-decoration: none;
  padding: 20px;
 
}

.sidebar-nav li a .material-icons {
  margin-right: 10px;
  
}

.sidebar-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.sidebar-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  
}