*{
 font-family: monospace;
/* font-family: cursive;*/
 line-height: 1.57143;
   
    /*font-family: "Public Sans", sans-serif;*/
    /*font-weight: 500;*/
    
    text-transform: capitalize;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
 /* background-color: #ffffff;*/
  background-color: rgb(249, 250, 251);

  color: white;
  border-right: 1.2px dashed #ccc; 

}
.icon-right {
  margin-right: 10px;
}

.sidebar-brand, .sidebar-nav, .sidebar-actions {
  padding: 10px;
}

.sidebar-brand img {
  max-width: 200px;
  margin-right: 0px;
  margin-top: 15%;
}

.sidebar-nav li {
  list-style: none;
  
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  /*color: #333;*/
  color:rgb(99, 115, 129);
 
  text-decoration: none;
  /*font-size: 20px;*/
  padding: 20px;
}

.sidebar-nav li a:hover {
  background-color: rgba(145, 158, 171, 0.08);
  /* Changement de couleur du texte pour assurer une meilleure lisibilité */
}
.sidebar-nav li a:active {
  background-color: rgba(0, 0, 255, 0.557);
  color: white; /* Changement de couleur du texte pour assurer une meilleure lisibilité */
}
.sidebar-nav li a:focus {
  /*-webkit-tap-highlight-color: transparent;*/
  color: rgb(24, 119, 242);
  text-transform: capitalize;
  background-color: rgba(24, 119, 242, 0.08);

}

.sidebar-nav li a .material-icons {
  margin-right: 10px;
  
}

.sidebar-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.sidebar-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle-btn {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffffff;
    color: white;
    border-right: 1px dashed #ccc;
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-toggle-btn {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 999;
  }
}
